.sub2 {
    text-align: left;
    font-style: oblique;
}

.payment {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-column-gap: 10px;
    padding: 15px;
}

.patch {
    box-shadow: 5px 5px #15a0fc;
    border: 1px solid grey;
    min-height: 200px;
}
