.sidebar {
    margin: 0;
    padding: 0;
    width: 200px;
    background-color: #f1f1f1;
    position: fixed;
    height: 100%;
    overflow: auto;
    border-right: 2px solid grey;
}

.sub {
    border-bottom: 1px solid grey;
    padding: 11px;
    font-family: Cambria;
    font-weight: bold;
    font-size: large;
}

/* Sidebar links */
.sidebar button {
    display: block;
    color: black;
    padding: 16px;
    text-decoration: none;
    border: none;
    height: auto;
}

/* Active/current link */
.sidebar button.active {
    background-color: #555;
    color: white;
    cursor: pointer;
}

/* Links on mouse-over */
.sidebar button:hover:not(.active) {
    color: blue;
    cursor: pointer;
}

/* Page content. The value of the margin-left property should match the value of the sidebar's width property */
div.content {
    margin-left: 200px;
    padding: 1px 16px;
}
